<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">FakeCSV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto">
                <li class="nav-item {% if '/' == request.path %}active{% endif %} mr-3">
                    <a class="nav-link" href="{% url 'schemas' %}">Schemas</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item mr-3 active">
                        <a class="nav-link" href="">Welcome, {{ user.username }}</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item mr-3 {% if 'login' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>